<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!">Мафия для QuestHouse <span class="red white-text">Beta 1.0</span>
            </a>
        </div>
    </nav>
</div>
<div class="row full-height" style="text-align: center">
    <div class="start-page">
        <div class="buttons">
            <a class="waves-effect waves-light btn-large" href="/#/create-game"><i class="material-icons left">add</i>Создать игру</a>
            <a class="waves-effect waves-light btn-large" href="/#/"><i class="material-icons left">insert_chart</i>Статистика</a>
            <a class="waves-effect waves-light btn-large" href="/#/"><i class="material-icons left">assignment_ind</i>Компании</a>
        </div>
    </div>
</div>
